@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(211, 242, 255);
  background: linear-gradient(
    180deg,
    rgb(74, 248, 112) 0%,
    rgb(156, 245, 193) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
